/*! DogVideo page css */
.video-docker video {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-docker::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.video-content {
  z-index: 2;
}

.WaveImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
}

/*! DogsDetail page css */
.sectionOne {
  background: url(https://img.freepik.com/premium-photo/minimalistic-pattern-featuring-cute-kitten-paw-prints-soft-pastel-background_1287624-29246.jpg);
  object-fit: cover;
  background-size: cover;
}
.sectionTwo {
  background: url(https://png.pngtree.com/background/20210716/original/pngtree-cute-dog-tiled-background-blue-bones-picture-image_1349649.jpg);
  object-fit: cover;
  background-size: cover;
}

.sectionThree {
  background: url(https://t3.ftcdn.net/jpg/00/84/55/66/360_F_84556601_W71hd1xmCxZUhsscyNlokY1an7Kqx6ZJ.jpg);
  object-fit: cover;
  background-size: cover;
}

.font {
  font-family: League Spartan;
}
