---
import '../styles/global.css';
const {title} = Astro.props
import TopHeading from "../components/TopHeading"
import NavBar from "../components/NavBar"
import Footer from "../components/Footer"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Puppies."
    />

    <meta title={title} />
  </head>
  <body>
     <main>
       <TopHeading client:load />
       <NavBar client:visible />
       <slot />
       <Footer />
   </main>
  </body>
</html>